// ==============================
// Post
// ==============================



.posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1em;
  // margin: 0 5em 3em;
  padding: 0 20px;

  .post {
    margin: 0;
  }
}

.post {
  padding: 3em 5em;
  border-radius: 12px;
  border: 1px solid #e9e9e9;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.02);
  margin: 0 auto 3em;
  max-width: $global-body-width;
  box-sizing: border-box;

  @import '_post/header';
  @import '_post/toc';
  @import '_post/content';
  @import '_post/copyright';
  @import '_post/reward';
  @import '_post/footer';
  @import '_post/utteranc';
  @import '_post/footnote';
  @import '_post/shortcode_notice';
}

.disqus-comment {
  margin: 0 5em 3em;
  @import '_post/disqus';
}

@media screen and (max-width: 504px) {
  .posts {
    .post {
      margin: 0;
    }
  }
  
  .post {
    padding: 1em 1em;
    margin: 0 0 2em;
    border-radius: 8px;
  }

  .disqus-comment {
    margin: 0 1em 2em;
  }

  .content-wrapper {
    padding: 1em 0 1px;
  }
}

@media screen and (min-width: 900px) and (max-width: 1080px) {
  .posts {
    .post {
      margin: 0;
    }
  }
  
  .post {
    border-radius: 8px;
    margin: 0 2em 2em;
  }

  .disqus-comment {
    margin: 0 2em 2em;
  }

  .content-wrapper {
    padding: 2em 0 1px;
  }
}

@media screen and (min-width: 504px) and (max-width: 899px) {
  .posts {
    .post {
      margin: 0;
    }
  }
  
  .post {
    padding: 1em 1em;
    border-radius: 8px;
    margin: 0 1em 2em;
    width: 100%;
  }

  .disqus-comment {
    margin: 0 1em 2em;
  }

  .content-wrapper {
    padding: 1em 0 1px;
  }

}
