// ==============================
// Social
// =============================

// donot use social-links keyword,Otherwise it will be intercepted by Adblock. 
.icon-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .iconfont {
    font-size: 1em;

    svg {
      width: 20px;
      height: 20px;
      fill: #999;

      &:hover {
        fill: $theme-color;
      }
    }

    & + .iconfont {
      margin-left: $social-link-margin-left;
    }

    &:hover {
      color: $theme-color;

      svg {
        fill: $theme-color;
      }
    }
  }
}

@media screen and (min-width: 900px) and (max-width: 1080px) {
  // .icon-links {
  //   .iconfont {
  //     font-size: 1em;

  //     svg {
  //       width: 20px;
  //       height: 20px;
  //     }
  //   }
  // }
}
