// ==============================
// Logo
// =============================

.logo-wrapper {
  float: left;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  .logo {
    font-size: $logo-font-size;
    font-family: $logo-font-family;
    color: $white;
  }
}

@include max-screen() {
  .logo-wrapper {
    display: none;
  }
}
